.home-layout-background {
  width: 100%;
  max-width: 1500px;
}

.home_container {
  padding: 25px 50px 40px 50px !important;
}

/* title and search product */
.home_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 30px;
}

.home_title {
  font-size: 26px;
}

.home_container-search .home_input-search {
  width: 300px;
}

/* Cards */
.home_containerProducts {
  display: flex;
  gap: 28px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.home_containerProducts .ant-card {
  width: 320px !important;
  border-radius: 18px;
}

.home_card-container-img {
  height: 300px;
  text-align: center;
}

.home_card-image {
  /* width: 90%; */
  height: 95%;
}

.ant-card-meta-title {
  font-size: 20px !important;
  margin-bottom: 0px !important;
}

.home_card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 0px;
}
.home_card-price {
  font-size: 18px;
  color: #191919;
}

@media screen and (max-width: 1463px) {
  .home_container {
    padding: 25px 70px 40px 70px !important;
  }
  .home_containerProducts {
    justify-content: center;
  }
}

@media screen and (max-width: 900px) {
  .home_container {
    padding: 25px 30px 40px 30px !important;
  }
}

@media screen and (max-width: 745px) {
  .home_containerProducts {
    justify-content: center;
  }
}

@media screen and (max-width: 680px) {
  .home_header {
    margin-bottom: 40px;
    gap: 0px;
  }
}

@media screen and (max-width: 500px) {
  .header_account-name {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .home_card-container-img {
    height: auto;
  }
  .home_card-image {
    width: 100%;
  }
}

@media screen and (max-width: 330px) {
  .home_container {
    padding: 25px 15px 40px 15px !important;
  }
  .home_container-search,
  .home_input-search {
    width: 100% !important;
  }
}
