.detail-layout-background {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
}

.detailProduct_view {
  padding: 25px 80px 40px 70px !important;
  max-width: 1500px;
  width: 100%;
}

.detailProduct_container {
  display: flex;
  padding: 45px 80px 0px 70px !important;
}

/* skeleton loader */
.detailProduct_container .ant-skeleton-element {
  width: 100% !important;
}
.ant-skeleton-image,
.ant-skeleton-button {
  width: 100% !important;
  height: 400px !important;
}

/* image section */
.detailProduct_img-container {
  width: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/* information section */
.detailProduct_information {
  width: 50%;
}

/* description section */
.detailProduct_description {
  margin-bottom: 30px;
}
.detailProduct_brand {
  font-size: 15px;
  color: #000;
  letter-spacing: 0.0015em;
  line-height: 19.2px;
  font-weight: 400;
}
.detailProduct_model {
  font-weight: 600;
  font-size: 24px;
  color: #383c47;
  letter-spacing: 0.005em;
  line-height: 28.8px;
  margin-top: 9px;
}
.detailProduct_container-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}
.detailProduct_price {
  font-weight: 600;
  font-size: 24px;
}

/* actions section */
.detailProduct_actions {
  padding: 20px;
  font-size: 16px;
  border: 1px solid #9e9fa1;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

.detailProduct_actions .ant-btn-primary {
  width: 150px;
  height: 45px;
  border-radius: 20px !important;
  text-align: center;
  text-transform: none;
  font-weight: 500;
}

.container-actions-product-select {
  margin-right: 12px;
  width: 180px !important;
}

@media screen and (max-width: 1360px) {
  .detailProduct_container {
    padding: 25px 0px 0px 0px !important;
  }
}

@media screen and (max-width: 1138px) {
  .detailProduct_container {
    justify-content: space-between;
  }
  .detailProduct_img-container {
    width: 40%;
    margin: 0;
  }
  .detailProduct_information {
    width: 55%;
  }
}

@media screen and (max-width: 900px) {
  .detailProduct_view {
    padding: 25px 30px 40px 30px !important;
  }
  .detailProduct_img-container {
    width: 45%;
  }
  .detailProduct_information {
    width: 53%;
  }
  .detailProduct_actions {
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (max-width: 700px) {
  .detailProduct_container {
    flex-direction: column;
  }
  .detailProduct_img-container {
    width: 100%;
  }
  .detailProduct_information {
    width: 100%;
    margin-top: 30px;
  }
  .detailProduct_actions {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 462px) {
  .detailProduct_actions {
    flex-direction: column;
    justify-content: space-between;
  }
  .ant-skeleton-image,
  .ant-skeleton-button {
    height: 350px !important;
  }
}

@media screen and (max-width: 360px) {
  .container-actions-product-select {
    margin-right: 0px;
  }
}
